{% load static %}
<!doctype html>
<html>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.svg' %}" alt="Logo" width="90" height="72" class="d-inline-block align-text-top">
        </a>
        {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto mt-0 mt-2 ">
            <li class="nav-item active">
              <a class="nav-link" href="/list">Moje zakłady<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/create">Nowy zakład</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">AI-Typing</a>
            </li>
          </ul>
          <a href="/logout/"><button class="btn btn-warning my-2 my-sm-0" type="submit">Wyloguj</button></a>
        {% else %}
        <ul class="navbar-nav mr-auto mt-0 mt-2 ">
            <li class="nav-item active">
              <a class="nav-link">Ciebie też kręcą miliony?<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" >Sprawdź swój zakład zakład</a>
            </li>
          </ul>
          <a href="/login/"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logowanie</button></a>
          <a href="/register/"><button class="btn btn-warning my-2 my-sm-0" type="submit">Rejestracja</button></a>
        {% endif %}
        </div>
      </nav>
    <head>
        <style type="text/css">


            .navbar a {
                padding:6px 8px 6px 16px;
                text-decoration: none;
                font-size:25px;
                color: #818181;
                display:block;
                font: Ubuntu;
            }
            .custom {
                width: 50px !important;
            }
        </style>
        

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>{% block title%}Lotto{% endblock %}</title>
        
    </head>

<body> 
        <div class="container px-0 py-5" id="content">
                    {% block content %}
                    {% endblock %}
        </div>
</body>
</html>

</body>
</html>
