{% extends 'main/base.html' %}
{% block content %}
<p1>Wybierz swoje typy:</p> 
{% for i in number %}
<select class="form-select" aria-label="Default select example">
  <option selected>Wybierz liczbę</option>
    {% for i in range %}
    <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
</select>
{% endfor %}
<br>
<p1>Podaj przedział czsowy swojego zakładu:</p> 
  <body style="background-color: ivory;">
    <section class="container">
        <h3 class="pt-4 pb-2">Bootstrap Datepicker</h3>
        <form>
            <div class="row form-group">
                <label for="date" class="col-sm-1 col-form-label">Date</label>
                <div class="col-sm-4">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <script type="text/javascript">
        $(function() {
            $('#datepicker').datepicker();
        });
    </script>


</body>



{% endblock %}